@import "../../vars.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    color: var(--primary-text-color);
    margin-top: 250px;
    z-index: 1;
    padding-bottom: 100px;
    position: relative;
}

.projects {
    margin-left: 50px;
    margin-right: 50px;
}

.container .projects {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 4rem;
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -100px;
    left: 6vw;
    border-radius: 764px;
    background: var(--blur-color);
    filter: blur(100px);
    z-index: -1;
}

.middleBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 500px;
    left: 65vw;
    border-radius: 764px;
    background: var(--blur-color);
    filter: blur(100px);
    z-index: -1;
}

.bottomBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: 1100px;
    left: -15vw;
    border-radius: 764px;
    background: var(--blur-color);
    filter: blur(100px);
    z-index: -1;
}