@import "../../vars.css";

.container {
    color: var(--primary-text-color);
    margin-top: 250px;
    position: relative;
}

.title {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 1.5em;
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -500px;
    left: -15vw;
    border-radius: 764px;
    background: var(--blur-color);
    filter: blur(100px);
    z-index: -1;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 0px;
    left: 60vw;
    border-radius: 764px;
    background: var(--blur-color);
    filter: blur(100px);
    z-index: -1;
}