@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 200px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--primary-text-color);
    z-index: 1;
}

.title {
    margin: 0;
    font-size: 5em;
    margin-bottom: 10px;
    animation: transitionIn 0.4s ease-in-out both;
}

.about {
    font-size: 1.4em;
    margin-bottom: 50px;
    animation: transitionIn 0.4s ease-in-out both;
    animation-delay: 0.2s;
    color: var(--secondary-text-color);
}

.logos {
    display: flex;
    gap: 25px;
    animation: transitionIn 0.4s ease-in-out both;
    animation-delay: 0.4s;

    img:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 0.1s ease-in-out;
        filter: brightness(85%);
    }

}

.picture {
    width: 40%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px var(--shadow-color);
    z-index: 1;
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: var(--blur-color);
    filter: blur(100px);
    z-index: -1;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 20px;
    left: 70vw;
    border-radius: 764px;
    background: var(--blur-color);
    filter: blur(100px);
    z-index: -1;
}

@keyframes transitionIn {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@media (max-width: 990px) {
    .container {
        flex-direction: column;
        gap: 10px;
    }

    .title {
        margin-top: 50px;
    }

    .picture {
        width: 60%;
    }

    .content {
        align-items: center;
        text-align: center;
    }
    
    .about {
        font-size: 3vw;
    }
}