@import "../../vars.css";

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 300px;
    gap: 25px;
    width: 90%;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--card-color);
    height: 450px;
    max-width: 350px;
    border-radius: 25px;
    box-shadow: 4px 4px 4px var(--shadow-color);
    width: 100%;
    z-index: 1;
}

.card:hover {
    background-color: var(--card-hover-color);
    scale: 1.02;
    transition: 0.3s;
    cursor: pointer;
}

.logo {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 35px;
    object-fit: contain;
    width: 70%;
    height: auto;
    max-height: 200px;
}

.company {
    font-size: 1.6rem;
    margin: 0;
    margin-top: 30px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--primary-text-color);
}

.title {
    font-size: 1.6rem;
    margin: 0;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--primary-text-color);
}

.card p {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 1.2rem;
    color: var(--secondary-text-color);
    padding-bottom: 30px;
    text-align: center;
}