@import "../../vars.css";

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 300px;
    gap: 25px;
    width: 90%;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: var(--card-color);
    height: 400px;
    max-width: 350px;
    border-radius: 25px;
    box-shadow: 4px 4px 4px var(--shadow-color);
    width: 100%;
    z-index: 1;

    &:hover {
        background-color: var(--card-hover-color);
        scale: 1.02;
        transition: 0.3s;
        cursor: pointer;
    }
}

.company {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--primary-text-color);
}

.logo {
    object-fit: contain;
    width: 70%;
    flex-grow: 1;
    max-height: 200px;
}

.title {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--primary-text-color);
}

.card p {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: var(--secondary-text-color);
    text-align: center;
}

@media (max-width: 750px) {
    .container { 
        width: 70%;
    }
}