@import "../../vars.css";

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 300px;
    gap: 50px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.card:hover {
    background-color: var(--card-hover-color);
    scale: 1.02;
    transition: 0.3s;
}

.container img {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.card {
    background-color: var(--card-color);
    width: 550px;
    border-radius: 25px;
    box-shadow: 4px 4px 4px var(--shadow-color);
}

.textContent {
    padding: 30px;
}

p {
    padding-top: 20px;
    font-size: 1.25em;
}

.techContainer p {
    padding: 10px;
    margin-top: 30px;
    background-color: var(--tech-bg-color);
    border-radius: 20px;
}

.techContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 35px;
}

.techContainer p {
    margin: 0;
}

@media (max-width: 730px) {
    .card {
        width: 80%;
    }
}