@import "./vars.css";

body {
    background-color: var(--bg-color);
    font-family: var(--font);
    overflow-x: hidden;
    padding-top: 7rem;
    min-width: 400px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#experience {
    scroll-margin-top: 15vh;
}

#skills {
    scroll-margin-top: 25vh;
}

#projects {
    scroll-margin-top: 15vh;
}